@import "tailwindcss";

@theme {
  --color-primary: #80ED99;
  --color-primary-hover: #6CB27F;
  --color-primary-focus: #5A9B6C;

  --color-third: #6cb27F;

  --color-userMessage: #878D92;
  --color-botMessage: #343a40;

  --color-border-color: #CED4DA;

  --color-light-bg: #f6f8f7;
  --color-dark-bg: #1C1C1C;
}

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    background-color: #f6f8f7;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
  }

  .dark body {
    background-color: #1C1C1C;
    color: #FFFFFF;
  }
}

#root {
  height: 100dvh;
  width: 100dvw;
}