@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary: #80ED99;
  --color-primary-hover: #6CB27F;
  --color-primary-focus: #5A9B6C;
  --color-primary-disabled: #C0E0C0;

  --color-third: #6cb27F;

  --color-userMessage: #878D92;
  --color-userMessage-dark: #385938;
  --color-botMessage: #343a40;
  --color-botMessage-dark: #495057;

  --color-border-color: #CED4DA;
  --color-border-color-dark: #4F5356;

  --color-input-light: #f8f9fa;
  --color-input-dark: #2f363d;

  --color-light-bg: #f6f8f7;
  --color-dark-bg: #1C1C1C;

  --animate-fadeIn: fadeIn 0.2s ease-in;

  @keyframes fadeIn {

    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@layer base {
  :root {
    color-scheme: light dark;
  }


}

#root {
  height: 100dvh;
  width: 100dvw;
}